body {
    border:1px solid red;
    a{
      font-size: 18px;
      color: green;
    }
    @media screen and (max-width:400px) {
	color:black;
	}
}
a {
    border:1px solid red;

    @media screen and (max-width:400px) {
	color:black;
	}
}
.phone {
    &_title {
        width: 500px;
        @media (max-width: 500px) {
            width: auto;
        }
        body.is_dark & {
            color: white;
        }
    }
    img {
        display: block;
    }
}
