$first-break:750px;
$second-break:550px;


.wrapper-r {
  border:1px solid gray;
  margin:auto;
  max-width:900px;
  width:100%;
  height:auto;
  display: grid;
  grid-template-columns: 120px 10px 1fr 10px 300px;
  grid-template-rows: 150px 250px auto 90px;
	grid-template-areas:
		"header header header header header"
		"rail . content . advertisment"
		"rail . content . stuff"
		"footer footer footer footer footer";
  padding:5px 5px 10px;

  @media screen and (max-width: $first-break) {
  	  grid-template-columns: 1fr 10px 300px;
  		grid-template-rows: 90px 250px auto auto 50px;
  		grid-template-areas:
				"header header header"
				"content . advertisment"
				"content . stuff"
				"rail . ."
				"footer footer footer";
  	}
  	@media screen and (max-width: $second-break) {
  	  grid-template-columns: 1fr;
  		grid-template-rows: 60px auto 250px auto auto 50px;
  		grid-template-areas:
				"header"
				"content"
				"advertisment"
				"rail"
				"stuff"
				"footer";
  	}
}
.header-r {
	border:2px solid blue;
	grid-area: header;
	margin:5px;
}
.rail-r {
	border:2px solid red;
	grid-area: rail;
	margin:5px;
}
.content-r {
	border:2px solid green;
	grid-area: content;
	margin:5px;
}
.advertisement-r {
	background-color:papayawhip;
	grid-area: advertisment;
	margin:5px;
	max-width:300px;
	  	@media screen and (max-width: $second-break) {
	  		margin:5px auto;
	  	}
}
.stuff-r {
	border:2px solid orange;
	grid-area: stuff;
	margin:5px;
}
.footer-r {
	border:2px solid  black;
	grid-area: footer;
	margin:5px;
}
