$foo: 'Montserrat', sans-serif;

@define-placeholder header {
  font-family: $foo;
  font-weight:700;
  text-align:center;
}

h1 {
	@extend header;
  font-size:24px; 
}
h2 {
	@extend header;
  font-size:18px;
}


